@model RegisterViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AccountDetailViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gebruikersnaam" class="control-label"></label>
                <input asp-for="Gebruikersnaam" class="form-control" />
                <span asp-validation-for="Gebruikersnaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmEmail" class="control-label"></label>
                <input asp-for="ConfirmEmail" class="form-control" />
                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol.Id" type="text" class="form-control" title="Station van het perron">
                    @foreach (Rol rol in Model.Rollen)
                    {
                        <option value="@rol.Id">@rol.Naam</option>
                    }
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Actief" /> @Html.DisplayNameFor(model => model.Actief)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $('Home').removeClass("active");
        $('Create Account').addClass("active");

        });
</script>
}